/bin/
project/
.vscode/

gloo-cppcheck-build-dir/
gloo.cppcheck

obj/
Makefile
*.make

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
